<form method="post" action="/register" class="forms">
    <label>
        Email
        <input type="email" name="username" class="width-100" placeholder="example@example.com" />
    </label>
    <label>
        Password
        <input type="password" name="password" class="width-100" placeholder="Password" />
    </label>
    <label>
        Repeat Password
        <input type="password" name="password2" class="width-100" placeholder="Same Password" />
    </label>
    <ul class="forms-inline-list">
        <li>
            <input type="checkbox" name="teacher" id="teacher">
            <label for="teacher">I am a teacher</label>
        </li>
    </ul>

    <p>
        <button class="btn btn-blue">Register</button>
    </p>
</form>