<form method="post" action="/add/class" class="forms">
    <label>
        Class Title
        <input type="text" name="classTitle" class="width-100" placeholder="e.g. Understanding Express" />
    </label>
    <label>
        Class Description
        <input type="text" name="desc" class="width-100" placeholder="e.g. Understanding Express is a ..." />
    </label>
    <label>
        Instructor
        <input type="text" name="instructor" class="width-100" placeholder="e.g. John Doe" />
    </label>
    <label>
        Lesson 
        <input type="text" name="Lesson " class="width-100" placeholder="" />
        <button class="btn btn-green">Additional Lesson</button>
    </label>
    <p>
        <button class="btn btn-blue">Add Class</button>
    </p>
</form>
// Create a js to dynamically add a lesson input field so that a variable number of lessons are possible.