{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
  {% parent %}
  <!--<link rel="stylesheet" href="custom.css">-->
{% endblock %}

{% block nav %}
  {% parent %}
{% endblock %}

{% block content %}
  
<main class="units-row units-padding">
  <article class="units-row-end">
    <section class="unit-75">
      <h1>Class List</h1>
      <div id="accordion-1" class="accordion">
      {% for course in classes %}
        <a href="#panel{{ loop.index }}" class="accordion-title">{{ course.title }} Lesson: {{lesson.lessonId}}<span class="accordion-toggle accordion-toggle-closed"></span></a>
        <div class="units-row">
          <div id="panel{{ loop.index }}" class="accordion-panel units-row-end">
            <div class="unit-70"><p>{{ course.desc }}</p></div>
            
            <form action="/enroll/{{course.permalink}}" method="POST"><button class="btn btn-green btn-outline">ENROLL</button></form>
          </div>
        </div>
      {% endfor %}
      </div>
    </section>
  </article>
</main>
<script type="text/javascript" src="/scripts/classAccordion.js"></script>
{% endblock %}