{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
  {% parent %}
  <!--<link rel="stylesheet" href="custom.css">-->
{% endblock %}

{% block nav %}
  {% parent %}
{% endblock %}

{% block content %}

  <section>
    <h1>{{lessons.title}}</h1>
      {% for x in sections %}
        {% if loop.first %}<div id="accordion-2">{% endif %}
        <a href="#panel{{ loop.index }}" class="accordion-title">{{ x.title }}</a>
        <div id="panel{{ loop.index }}" class="accordion-panel">{{ x.description }}</div>
        {% if loop.last %}</div>{% endif %}
      {% endfor %}    
  </section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/scripts/lessonsAccordion.js"></script>
{% endblock %}
