{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
  {% parent %}
  <!--<link rel="stylesheet" href="custom.css">-->
{% endblock %}

{% block nav %}
  {% parent %}
{% endblock %}

{% block content %}
    <main class-"units-row">
      <button class="btn btn-red btn-outline unit-push-right unit-25">I'm Done!</button>
      <section class="unit-60">
        <h1>{{ sections.title }}</h1>
        <hr>
        {{{ sections.videoLink }}}}
      </section>
      <aside class="unit-40"> 
        <h4>Other Materials</h4>
        <hr>
        {% if sections.otherMaterials %}
          <ul class="units-row end"> 
          {% for x in sections.otherMaterials %}
          
            <li class="unit-25">{{ x }}</li> 
            
          {% endfor %}
          </ul>
        {% endif %}
      </aside>
      <article class="units-100"> 
a
      {{sections.content}}
      
      </article>
        <button class="btn btn-red btn-outline unit-push-right unit-25">I'm Done!</button>
    </main>
{% endblock %}